defaults: &defaults
  docker:
    - image: circleci/node:latest

version: 2
jobs:
  install-build:
    <<: *defaults
    steps:
      - checkout
      - run: sudo npm install -g yarn
      - run: yarn
      - run: yarn build
      - persist_to_workspace:
          root: .
          paths:
            - ./*

  deploy:
    <<: *defaults
    steps:
      - add_ssh_keys:
          fingerprints:
            - "61:d1:6c:98:ed:f4:60:d7:ca:20:65:4f:b5:b9:79:36"
      - attach_workspace:
          at: .
      - run:
        name: Prepare Github informations
        command: |
          mkdir ~/.ssh
          touch ~/.ssh/config
          echo "  StrictHostKeyChecking no" >> ~/.ssh/config
          git config user.email "ci-build@myclimateaction.com"
          git config user.name "ci-build"
      - run: yarn deploy

workflows:
  version: 2
  release_branches:
    jobs:
      - install-build:
          filters:
            branches:
              only: master
      - deploy:
          requires:
            - install-build
