.Auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Auth-item {
  margin: 2em 0 2em 0;
}

label {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}

input {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  outline: 0;
    width: 330px;
  border-width: 0 0 2px;
  border-color: lightgray
}

button {
  width: 94px;
  height: 36px;
  background: #009688;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  color: white;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0357143em;
}