/* TOPBAR */
.TopBar-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  background-color: white;
  height: 64px;
}

.TopBar-item {
  width: auto;
  margin: auto; /* Magic! */
}

#buttonLogout {
  border: none;
  background: #000000;
  color: white;
  border-radius: 5px;
  height: 40px;
  transition: background 0.1s;
}

#buttonLogout:hover {
  background: #444444;
  transition: background 0.2s;
}

h2.TopBar-item {
  font-size: 18px;
  line-height: 21px;
}
