/* TOPBAR */
.TopBar-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  background-color: white;
  height: 64px;
}

.TopBar-item {
  margin: auto; /* Magic! */
}

button {
  background: #000000;
  border-radius: 5px;
  width: 140px;
  height: 40px;
  transition: background 0.1s;
}

button:hover {
  background:#444444;
  transition: background 0.2s;
}

h1 {
  font-size: 24px;
  line-height: 28px;
}

h2 {
  font-size: 18px;
  line-height: 21px;
}